In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('./TCGA-PANCAN-HiSeq-801x20531/data.csv',delimiter=',')
labels=pd.read_csv('./TCGA-PANCAN-HiSeq-801x20531/labels.csv',delimiter=',')
df = pd.DataFrame(data)
JoinedDF=labels.join(df.set_index('Unnamed: 0'), on='Unnamed: 0')
JoinedDF.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
JoinedDF.head(2)
#hi

,Class,gene_0,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,...,gene_20521,gene_20522,gene_20523,gene_20524,gene_20525,gene_20526,gene_20527,gene_20528,gene_20529,gene_20530
0,PRAD,0.0,2.017209,3.265527,5.478487,10.431999,0.0,7.175175,0.591871,0.0,...,4.926711,8.210257,9.723516,7.220030,9.119813,12.003135,9.650743,8.921326,5.286759,0.0
1,LUAD,0.0,0.592732,1.588421,7.586157,9.623011,0.0,6.816049,0.000000,0.0,...,4.593372,7.323865,9.740931,6.256586,8.381612,12.674552,10.517059,9.397854,2.094168,0.0

In [6]:
dict = {'Class': 'C'}
for i in range (0,20531):
    temp = "gene_"+str(i)
    dict[temp] = 'g'+str(i)

JoinedDF.rename(columns=dict,inplace=True)

In [7]:
JoinedDF.head(2)

,C,g0,g1,g2,g3,g4,g5,g6,g7,g8,...,g20521,g20522,g20523,g20524,g20525,g20526,g20527,g20528,g20529,g20530
0,PRAD,0.0,2.017209,3.265527,5.478487,10.431999,0.0,7.175175,0.591871,0.0,...,4.926711,8.210257,9.723516,7.220030,9.119813,12.003135,9.650743,8.921326,5.286759,0.0
1,LUAD,0.0,0.592732,1.588421,7.586157,9.623011,0.0,6.816049,0.000000,0.0,...,4.593372,7.323865,9.740931,6.256586,8.381612,12.674552,10.517059,9.397854,2.094168,0.0

In [8]:
List=[]
for i in range (20400,20531):
    List.append("g"+str(i))

In [9]:
JoinedDF.drop(List, axis=1, inplace=True)

In [10]:
JoinedDF.to_csv('file3.csv',index=False)

In [21]:
# 2625
String=""
for i in range(0,15+1):
    String=String+'"'+"gene_"+str(i)+'",'
print(String[:-1])

"gene_0","gene_1","gene_2","gene_3","gene_4","gene_5","gene_6","gene_7","gene_8","gene_9","gene_10","gene_11","gene_12","gene_13","gene_14","gene_15"

In [23]:
String=""
for i in range(0,15+1):
    String=String+"$"+'"'+"gene_"+str(i)+'",'
print(String[:-1])

$"gene_0",$"gene_1",$"gene_2",$"gene_3",$"gene_4",$"gene_5",$"gene_6",$"gene_7",$"gene_8",$"gene_9",$"gene_10",$"gene_11",$"gene_12",$"gene_13",$"gene_14",$"gene_15"